<div class="iq-top-navbar">
    <div class="iq-navbar-custom">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="iq-navbar-logo d-flex align-items-center justify-content-between">
                <i class="ri-menu-line wrapper-menu"></i>
                <a href="index.html" class="header-logo">
                        <img src="{{ url_for('static', filename='assets/images/logo.png') }}" class="img-fluid rounded-normal light-logo" alt="logo">
                    
                </a>
            </div>
            <div class="d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
                <i class="ri-menu-3-line"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto navbar-list align-items-center">
                    <li class="nav-item nav-icon search-content">
                        <a href="index.html#" class="search-toggle rounded" id="h1-dropdownSearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="ri-search-line"></i>
                        </a>
                        <div class="iq-search-bar iq-sub-dropdown dropdown-menu" aria-labelledby="h1-dropdownSearch">
                            <form action="index.html#" class="searchbox p-2">
                                <div class="form-group mb-0 position-relative">
                                <input type="text" class="text search-input font-size-12" placeholder="type here to search...">
                                <a href="index.html#" class="search-link"><i class="las la-search"></i></a> 
                                </div>
                            </form>
                        </div>
                    </li>                
                    <li class="nav-item nav-icon dropdown mail-content">
                        <a href="index.html#" class="search-toggle dropdown-toggle nav-icon-1" id="h1-dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="">
                            <svg width="20" class="svg-icon" id="main-n-010" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" style="stroke-dasharray: 82, 102; stroke-dashoffset: 0;"></path>
                            </svg>
                        </i>
                        <span class="badge badge-primary count-mail mail rounded-circle">2</span>
                        <span class="bg-primary"></span>
                        </a>
                        <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="h1-dropdownMenuButton2">
                            <div class="card shadow-none m-0">
                                <div class="card-body p-0 ">
                                    <div class="px-3 pt-0 pb-0">
                                        <a href="index.html#" class="iq-sub-card">
                                            <div class="media align-items-center cust-card py-3 border-bottom">
                                                <div class="">
                                                    <img class="avatar-50 rounded-small" src="{{ url_for('static', filename='assets/images/user/01.jpg') }}" alt="01">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">Emma Watson</h5>
                                                        <small class="text-dark"><b>12 : 47 pm</b></small>
                                                    </div>
                                                    <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="index.html#" class="iq-sub-card">
                                            <div class="media align-items-center cust-card py-3 border-bottom">
                                                <div class="">
                                                    <img class="avatar-50 rounded-small" src="{{ url_for('static', filename='assets/images/user/02.jpg') }}" alt="02">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">Ashlynn Franci</h5>
                                                        <small class="text-dark"><b>11 : 30 pm</b></small>
                                                    </div>
                                                    <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="index.html#" class="iq-sub-card">
                                            <div class="media align-items-center cust-card py-3">
                                                <div class="">
                                                    <img class="avatar-50 rounded-small" src="{{ url_for('static', filename='assets/images/user/03.jpg') }}" alt="03">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">Kianna Carder</h5>
                                                        <small class="text-dark"><b>11 : 21 pm</b></small>
                                                    </div>
                                                    <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a class="btn btn-block btn-primary position-relative text-center" href="index.html#" role="button">
                                        View All
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item nav-icon dropdown mail-content"> 
                        <a href="index.html#" class="search-toggle dropdown-toggle nav-icon-1" id="h1-dropdownMenuButton004" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="">
                            <svg width="20" class="svg-icon" id="main-n-020" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" style="stroke-dasharray: 63, 83; stroke-dashoffset: 0;"></path>
                            </svg>
                        </i>
                        <span class="badge badge-primary count-mail rounded-circle">2</span>
                        <span class="bg-primary "></span>
                        </a>
                        <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="h1-dropdownMenuButton004">
                            <div class="card shadow-none m-0">
                                <div class="card-body p-0 ">
                                    <div class="px-3 pt-0 pb-0">
                                        <a href="index.html#" class="iq-sub-card">
                                            <div class="media align-items-center cust-card py-3 border-bottom">
                                                <div class="">
                                                    <img class="avatar-50 rounded-small" src="{{ url_for('static', filename='assets/images/user/01.jpg') }}" alt="01">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">Emma Watson</h5>
                                                        <small class="text-dark"><b>12 : 47 pm</b></small>
                                                    </div>
                                                    <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="index.html#" class="iq-sub-card">
                                            <div class="media align-items-center cust-card py-3 border-bottom">
                                                <div class="">
                                                    <img class="avatar-50 rounded-small" src="{{ url_for('static', filename='assets/images/user/02.jpg') }}" alt="02">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">Ashlynn Franci</h5>
                                                        <small class="text-dark"><b>11 : 30 pm</b></small>
                                                    </div>
                                                    <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="index.html#" class="iq-sub-card">
                                            <div class="media align-items-center cust-card py-3">
                                                <div class="">
                                                    <img class="avatar-50 rounded-small" src="{{ url_for('static', filename='assets/images/user/03.jpg') }}" alt="03">
                                                </div>
                                                <div class="media-body ml-3">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <h5 class="mb-0">Kianna Carder</h5>
                                                        <small class="text-dark"><b>11 : 21 pm</b></small>
                                                    </div>
                                                    <small class="mb-0">Lorem ipsum dolor sit amet</small>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <a class="btn btn-block btn-primary position-relative text-center" href="index.html#" role="button">
                                        View All
                                    </a>
                                </div>
                            </div>
                        </div>
                    </li>  
                    <li class="caption-content">
                       <a href="index.html#" class="iq-user-toggle d-flex align-items-center justify-content-between" id="h-dropdownMenuButton001" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ url_for('static', filename='assets/images/user/1.jpg') }}" class="img-fluid rounded avatar-50" alt="user">
                        </a>
                        <div class="dropdown-menu dropdown-menu-right w-100 border-0 py-2" aria-labelledby="h-dropdownMenuButton001">
                            <a class="dropdown-item mb-2" href="../app/user-profile.html">
                                <i class="lar la-user-circle font-size-20 mr-1"></i>
                                <span class="mt-2">My Profile</span>
                            </a>
                            <a class="dropdown-item mb-2" href="../app/user-profile-edit.html">
                                <i class="las la-user-edit font-size-20 mr-1"></i>
                                <span>Edit Profile</span>
                            </a>
                            <a class="dropdown-item mb-2" href="../app/user-account-setting.html">
                                <i class="las la-user-cog font-size-20 mr-1"></i>
                                <span>Account Settings</span>
                            </a>
                            <a class="dropdown-item" href="../app/user-privacy-setting.html">
                                <i class="las la-user-shield font-size-20 mr-1"></i>
                                <span>Privacy Settings</span>
                            </a>
                            <hr class="my-1">
                            <a class="dropdown-item" href="index.html">
                                <i class="las la-sign-out-alt font-size-20 mr-1"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                    </ul>                     
                </div> 
            </div>
        </nav>
    </div>
</div>