<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/backend-plugin.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/backend.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/_fortawesome/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/remixicon/fonts/remixicon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/_icon/dripicons/dripicons.css') }}"> 
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="{{ url_for('static', filename='assets/js/backend-bundle.min.js') }}"></script>
    
    <!-- Flextree Javascript-->
    <script src="{{ url_for('static', filename='assets/js/flex-tree.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/tree.js') }}"></script>
    
    <!-- Table Treeview JavaScript -->
    <script src="{{ url_for('static', filename='assets/js/table-treeview.js') }}"></script>
    
    <!-- SweetAlert JavaScript -->
    <script src="{{ url_for('static', filename='assets/js/sweetalert.js') }}"></script>
    
    <!-- Chart Custom JavaScript -->
    <script src="{{ url_for('static', filename='assets/js/chart-custom.js') }}"></script>
    
    <!-- slider JavaScript -->
    <script src="{{ url_for('static', filename='assets/js/slider.js') }}"></script>
    
    <!-- app JavaScript -->
    <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
</body>
</html>